<%- include('header'); -%>
<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
  itaque ea at accusamus veritatis quibusdam dicta voluptatem repudiandae.
  Commodi debitis reiciendis hic ducimus soluta, veniam vero ipsam quisquam illo
  sapiente.
</p>
<%- include('footer'); -%>
